
WinNetSpeedMonitor/.vs/ProjectEvaluation/winnetspeedmonitor.metadata.v5.1
WinNetSpeedMonitor/.vs/ProjectEvaluation/winnetspeedmonitor.metadata.v5.1
WinNetSpeedMonitor/.vs/WinNetSpeedMonitor/DesignTimeBuild/.dtbcache.v2
WinNetSpeedMonitor/.vs/ProjectEvaluation/winnetspeedmonitor.projects.v5.1
WinNetSpeedMonitor/.vs/WinNetSpeedMonitor/DesignTimeBuild/.dtbcache.v2
WinNetSpeedMonitor/.vs/WinNetSpeedMonitor/FileContentIndex/90865dab-2d82-4373-8159-2a48f7e00d31.vsidx
WinNetSpeedMonitor/.vs/WinNetSpeedMonitor/DesignTimeBuild/.dtbcache.v2
WinNetSpeedMonitor/.vs/WinNetSpeedMonitor/v17/.futdcache.v2
WinNetSpeedMonitor/bin/Debug/net6.0-windows/WinNetSpeedMonitor.dll
WinNetSpeedMonitor/bin/Debug/net6.0-windows/WinNetSpeedMonitor.pdb
WinNetSpeedMonitor/.vs/
WinNetSpeedMonitor/obj/
